<p id="notice"><%= notice %></p>

<h1><%= @sale.nombre %></h1>
<br>
<div class="col-sm-3">
<table class="table table-bordered table-hover table-striped ">
<tr>
  <td>
     <strong>Código Producto:</strong>
  </td>
  <td>
    <%= @sale.codigoProducto %>
  </td>
</tr>
<tr>
  <td>
    <strong>Cantidad:</strong>
  </td>
  <td>
    <%= @sale.cantidad %>
  </td>
</tr>
<tr>
  <td>
    <strong>Total:</strong>
  </td>
  <td>
    <%= @sale.total %>
  </td>
</tr>

</table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>

<%= link_to 'Editar', edit_sale_path(@sale) %> |
<%= link_to 'Regresar', sales_path %>
